<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumi.finance.mapper.UserRechargeDetailMapper">

    <resultMap type="UserRechargeDetail" id="UserRechargeDetailResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="accountAmount"    column="account_amount"    />
        <result property="rechargeAmount"    column="recharge_amount"    />
        <result property="vipLevel"    column="vip_level"    />
        <result property="rechargeTime"    column="recharge_time"    />
        <result property="rechargeDesc"    column="recharge_desc"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rechargeType"    column="recharge_type"    />
        <result property="paymentType"    column="payment_type"    />
        <result property="phonenumber"    column="phonenumber"    />
    </resultMap>

    <sql id="selectUserRechargeDetailVo">
        select id, user_id, user_name, account_amount,recharge_type, recharge_amount, vip_level, recharge_time,
               recharge_desc, create_by, create_time, update_by, update_time,payment_type from user_recharge_detail
    </sql>

    <select id="selectUserRechargeDetailList" parameterType="UserRechargeDetail" resultMap="UserRechargeDetailResult">
        select a.id, a.user_id, b.user_name,b.phonenumber, a.account_amount,a.recharge_type, a.recharge_amount, a.vip_level, a.recharge_time,
        a.recharge_desc, a.create_by, a.create_time, a.update_by, a.update_time,a.payment_type from user_recharge_detail a
        left join sys_user b on a.user_id=b.user_id
        <where>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and b.user_name like concat('%', #{userName}, '%') </if>
            <if test="params.beginRechargeTime != null and params.beginRechargeTime != '' and params.endRechargeTime != null and params.endRechargeTime != ''"> and recharge_time between #{params.beginRechargeTime} and #{params.endRechargeTime}</if>
        </where>
        order by recharge_time desc
    </select>

    <select id="selectUserRechargeDetailById" parameterType="String" resultMap="UserRechargeDetailResult">
        <include refid="selectUserRechargeDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserRechargeDetail" parameterType="UserRechargeDetail" useGeneratedKeys="true" keyProperty="id">
        insert into user_recharge_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="accountAmount != null">account_amount,</if>
            <if test="rechargeAmount != null">recharge_amount,</if>
            <if test="vipLevel != null">vip_level,</if>
            <if test="rechargeTime != null">recharge_time,</if>
            <if test="rechargeDesc != null">recharge_desc,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="rechargeType != null">recharge_type,</if>
            <if test="paymentType != null">payment_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="accountAmount != null">#{accountAmount},</if>
            <if test="rechargeAmount != null">#{rechargeAmount},</if>
            <if test="vipLevel != null">#{vipLevel},</if>
            <if test="rechargeTime != null">#{rechargeTime},</if>
            <if test="rechargeDesc != null">#{rechargeDesc},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="rechargeType != null">#{rechargeType},</if>
            <if test="paymentType != null">#{paymentType},</if>
         </trim>
    </insert>

    <update id="updateUserRechargeDetail" parameterType="UserRechargeDetail">
        update user_recharge_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="accountAmount != null">account_amount = #{accountAmount},</if>
            <if test="rechargeAmount != null">recharge_amount = #{rechargeAmount},</if>
            <if test="vipLevel != null">vip_level = #{vipLevel},</if>
            <if test="rechargeTime != null">recharge_time = #{rechargeTime},</if>
            <if test="rechargeDesc != null">recharge_desc = #{rechargeDesc},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="rechargeType != null">recharge_type = #{rechargeType},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="paymentType != null">payment_type = #{paymentType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserRechargeDetailById" parameterType="String">
        delete from user_recharge_detail where id = #{id}
    </delete>

    <delete id="deleteUserRechargeDetailByIds" parameterType="String">
        delete from user_recharge_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
